.avatar {
  /* box-sizing: initial; Caso não queira usar o cálculo abaixo */ 
  width: calc(3rem + 12px); /* 12 corresponde a: 4px + 4px (border) + 2px + 2px do outline */
  height: calc(3rem + 12px);
  border-radius: 8px;
}

.avatarWithBorder {
   /* box-sizing: initial; Caso não queira usar o cálculo abaixo */ 
   width: calc(3rem + 12px); /* 12 corresponde a: 4px + 4px (border) + 2px + 2px do outline */
   height: calc(3rem + 12px);
   border-radius: 8px;
   border: 4px solid var(--gray-800);
   outline: 2px solid var(--green-500); 
}