.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden; /* Com isso só há ocupação do local sidebar */
}

.cover {
  width:100%;
  height: 72px;
  object-fit: cover; /* Funcionalidade legal, pois comprime a imagem para não distorcer a imagem. Meio que mostra o centro da imagem sem distorcer. */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: calc(0px - 1.5rem - 6px); /* o zero utiliza pra negativar; o 1.5 é metade do 3rem debaixo do avatar e o 6px também é metade do 12px do avatar */
}

.avatar {
  /* box-sizing: initial; Caso não queira usar o cálculo abaixo */ 
  width: calc(3rem + 12px); /* 12 corresponde a: 4px + 4px (border) + 2px + 2px do outline */
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline:
   2px solid var(--green-500); 
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height:1.4rem;
}


.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: bold;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  
  transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
  background: var(--green-500);
  color: var(--white);
}