.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem; /* Neste caso, faz com que se eu diminua a tela para um tamanho menor que 70rem, o conteúdo não fique colado nas laterais, exista um espaçamento. */

  display: grid;
  grid-template-columns: 256px 1fr; /* 1fr aignifica que a 2a coluna terá um tamanho flexível.*/
  gap: 2rem;
  alignt-items:flex-start; /* Faz com que ambas as colunas sempre fique alinhadas para o topo. */
}

@media (max-width: 768px) {

  html {
    font-size: 87.5%; 
    /* Faz um regra de 3 comparando 16px - 100 e o numero da fonte para x, isso aqui tem um poder com rem de diminuir toda a tela conforme o uso do rem na aplicação */
  }

  .wrapper{
    grid-template-columns: 1fr;
  }
}